$font-stack-prim: 'Montserrat', sans-serif;
$font-stack-sec: 'Courgette', cursive;

.main-text-container {
  margin-top: 100px;
  font-family: $font-stack-prim;
}

.map-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-card-img {
  opacity: 0.4;
}

.about-card-img-overlay {
  color: white;
}
.user-pfp-img {
  border-radius: 100px;
  max-width: 18rem;
}
.carousel-caption h5 {
  color: black;
}