$font-stack-prim: 'Montserrat', sans-serif;
$font-stack-sec: 'Courgette', cursive;

.main-text-container {
  margin-top: 100px;
  font-family: $font-stack-prim;
}

.map-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}